.background {
  background-color: #e0e0e0;
  padding: 40px 30px;
  display: flex;
  justify-content: center;
  height: 100%;
}

.box {
  background-color: white;
  width: 100%;
}

.title {
  text-align: center;
  color: #17608d;
  margin-top: 30px;
  font-weight: bold;
}

.filter {
  display: grid;
  gap: 20px;
  grid-template-columns: 50% 33% 17%;
  grid-auto-flow: column;
  width: 60%;
  margin: 30px;
}

.table {
  margin: 30px;
}

.detail {
  background-color: #f3d2a2;
  color: white;
  border-radius: 4px;
  border-color: #f3d2a2;
  width: 40px;
  height: 40px;
  padding: 4px 7px;
}

.detail:hover,
.detail:active,
.detail:focus {
  background-color: #f2c480;
  border-color: #f2c480;
}
