.title-new-camera {
    color: #024d96;
    font-size: 20px;
}

#submit-form-new-camera {
    margin-left: 12%;
}

.ant-modal-wrap .ant-modal .ant-modal-content {
    border-radius: 8px 8px 8px 8px;
}

#basic div:last-child {
    margin-bottom: 0px;
}