.header {
  background-color: #17608d;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 16px;
  width: 100%;
}

.left {
  width: 15%;
  margin-right: 20%;
}

.right {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.right a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.right a:hover {
  font-weight: bold;
}

.headerRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}

.popover {
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: space-between;
}

.ant-popover-inner {
  border-radius: 6px;
}

.btn-secondary {
  border: none;
  box-shadow: none;
  border-radius: 6px;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: black;
  background-color: #f0f0f0;
}
