.parent-create-new {
  text-align: right;
}

.camera-table {
  width: 97%;
  margin-right: auto;
  margin-left: auto;
}

.new-camera {
  display: inline-block;
  padding-left: 10px;
}

.ant-table-tbody .ant-switch.ant-switch-checked {
  background-color: green;
}

.ant-table-tbody tr td:last-child {
  width: 238px;
}
