.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 30px 0px 30px;
}

.camera-filter {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.new-btn button {
  border-color: #17608d;
  border-radius: 8px;
  padding: 8px 15px;
  height: auto;
  color: #17608d;
}

.new-camera {
  display: inline-block;
  padding-left: 10px;
}

.ant-table-tbody .ant-switch.ant-switch-checked {
  background-color: green;
}

.ant-table-tbody tr td:last-child {
  width: 238px;
}
