.test-image {
  height: 300px;
  width: 100%;
  margin: 16px 0px;
}

.title-new-camera {
  color: #17608d;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.ant-modal-content {
  top: -60px;
}

.test-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test-row button {
  border-color: #17608d;
  border-radius: 8px;
  color: #17608d;
}

.ant-modal-wrap .ant-modal .ant-modal-content {
  border-radius: 8px 8px 8px 8px;
}

.steps {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 30px;
}

.camera-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.ant-steps-item-process .ant-steps-item-icon {
  background-color: #17608d;
  border-color: none;
}

.ant-steps-item-finish .ant-steps-item-icon {
  border-color: #17608d;
  color: #17608d;
}

.next-step {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ant-btn-primary {
  background-color: #17608d;
  border: none;
}
